
.btn-join-group{
    left: 0;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 22px;
    background-color: white;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 67%;
    border: 2px solid black;
}

.group-box{
    background-color: white;
    border: 2px solid black;
    height: 72px;
    align-content: center;
}

.group-link{
    text-decoration: none;
}

.group-image{
    border-radius: 50%;
    border: 1px solid black;
    height: 48px;
    width: 48px;
}

.resume_icon{
    border: 1px solid black;
    height: 38px;
    width: 38px;
    margin-top: 6px;
}

.group-name{
    font-size: 22px;
    font-weight: 700px;
    margin-top: 8px;
    color: black;
}

.joinGroupModal{
    margin-top: 28%;
    border-radius: 4px;
    background-color: white;
}

.modal-title-join-group{
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin-top: 8px;
}

.btn-close{
    color: black;
}

.btn-cancel{
    background-color: white;
    color: black;
    border-radius: 0px;
    padding-left: 22px;
    padding-right: 22px;
}

.btn-join{
    background-color: black;
    color: white;
    border-radius: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-join:hover{
    box-shadow: 4px 4px 2px 1px rgba(241, 243, 51);
}

.group_code_header{
    color: black;
    font-size: 16px;
}

.group_code_input{
    border-radius: 0px;
}

.profile-container{
    background-color: white;
    border-radius: 8px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px; 
    padding-bottom: 32px;
}

.margin-bottom-profile{
    margin-bottom: 124px;
}

.btn-swipe{
    background-color: grey;
    opacity: 0.5;
    color: black;
    font-weight: 500px;
    border-radius: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.left{
    margin-left: 96px;
}

.left:focus{
    text-decoration: none;
    background-color: grey;
}

.right{
    margin-right: 108px;
}

.right:focus{
    text-decoration: none;
    background-color: grey;
}

