body{
  background-color:#F4F4F0;
  font-family: 'Wix Made for Display', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y:visible;
}

.loading{
  margin-top: 50%;
}

.spinner{
  width: 100%;
  text-align:center;
  margin-bottom: 20%;
  margin-top:20%;
}

.spinner-color{
  color: black;
}

