.sign-in-form{
    background-color:white;
    padding-top:48px;
    padding-bottom:48px;
    border-radius: 16px;
    margin-top: 22%;
    border: 2px solid black;
    border-radius: 2px;
    width: 500px;
}

.sign-up-form{
    background-color:white;
    padding-top:48px;
    padding-bottom:48px;
    border-radius: 16px;
    margin-top: 28%;
    border: 2px solid black;
    border-radius: 2px;
    width: 500px;
}
  
  .btn-sign-in{
    background-color: black;
    color: white;
    font-weight: 400;
    border-radius: 2px;
    height: 40px;
    width: 150px;
  }

  .btn-sign-in:hover{
    background-color: #FF90E9;
    border: 2px solid black;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0);
  }

  .title{
    font-weight: 600;
  }

  .input{
    border: 1px solid black;
  }
  
  .sign-in-error{
    color:#B12704;
    font-size: 12px;
  }
  
  @media (max-width: 600px) {
    .sign-in-form{
      margin-top: 264px;
      width: 350px;
      margin-left:2px;
    }
  }